/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * blu.sh    berry    nordic    nightly    gotham    mask    faded    cocoa
 *
 */

@import "nordic_blackout.rasi"
